{% extends 'base-derk.html' %}
{% load static %}

{% block title_block %}
{{ userprofile }} - Profile Settings
{% endblock %}

{% block main_header_block %}
Profile Settings
{% endblock %}


           

{% block body_block %}
<hr>
<hr>

<style> 
	.bg{
		background-image: url('/static/images/team2.png');
		background-position:center;
		opacity:.5;
	}

	.special-body{ 
		opacity:1;
	}

	.main-card{
		opacity:1;
	}
</style>

<div class="container-fluid justify-content-center align-items-center py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-9 col-xl-10">
<!--Row-->

<div class="card">
<div class="justify-content-center">
<img class="card-img" src="{% static 'images/team2.png' %}" style="opacity:.25; object-fit:cover; height:750px;">
</div>
<div class="card-img-overlay">
	<div class="card-body special-body p-4 p-md-5">
		

    <!--Column-->
    
        {% comment %} <!--Card-->
        <div class="card">
            <!--Card content-->
            <div class="card-body"> {% endcomment %}
                <!--Title-->
                <h3 class="card-title">Profile Settings</h3>
		<hr >
                <!--Text-->
		<h4>Update First Name</h4>
                <form id="first_form" method="post" action="{% url 'friends:settings' user.pk %}">
            	    {% csrf_token %}
            	    New First Name: <input type="text" name="first_name" value="" size="50"/>
            	    <br/>
		    <input type="submit" value="submit"/>
		</form>
		<hr>
		<h4>Update Last Name</h4>
                <form id="last_form" method="post" action="{% url 'friends:settings' user.pk %}">
            	    {% csrf_token %}
            	    New Last Name: <input type="text" name="last_name" value="" size="50"/>
            	    <br/>
            	    <input type="submit" value="submit"/>
        	</form> 
		<hr>  
		<!--<h4>Update Agency</h4>
                <form id="agency_form" method="post" action="{% url 'friends:settings' user.pk %}">
            	    {% csrf_token %}
            	    New Agency: <input type="text" name="agency" value="" size="50"/>
            	    <br/>
            	    <input type="submit" value="submit"/>
        	</form> 
		<hr>-->
		<h4>Update Email</h4>
                <form id="email_form" method="post" action="{% url 'friends:settings' user.pk %}">
            	    {% csrf_token %}
            	    New Email: <input type="text" name="email" value="" size="50"/>
            	    <br/>
            	    <input type="submit" value="submit"/>
        	</form> 
		<hr>
		<h4>Update Password</h4>
                <form id="password_form" method="post" action="{% url 'friends:settings' user.pk %}">
            	    {% csrf_token %}
            	    Current Password: <input type="password" name="current_password" value="" size="50"/>
            	    <br/>
            	    New Password: <input type="password" name="new_password" value="" size="50"/>
            	    <br/>
            	    Confirm New Password: <input type="password" name="confirm_password" value="" size="50"/>
            	    <br/>
            	    <input type="submit" value="submit"/>
        	</form>  
			</div>
		</div>           
        </div>

		{% comment %} <div class="text-center">
			<img src="{% static 'images/team2.png' %}" class="img-fluid" style="max-width:50%;" align="center">
		</div> {% endcomment %}
        <!--/.Card-->
   
    <!--/.Column-->
    <!--Column-->
    
    <!--/.Column-->
</div>
</div>
</div>

{% endblock %}
