{% extends 'base-k-se.html' %}
{% load static %}

{% block title_block %}
{{ userprofile }}
{% endblock %}

{% block main_header_block %}
<br/>
{{ user.first_name }} {{ user.last_name}}
{% endblock %}

{% block body_block %}
<!-- See if we can get card and side image to be the same height and on the same row -->
<div class="row pt-2">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Welcome to your ELSA profile </h4>
                <p class="card-text">
                    Your profile page is your hub for editing your bundles. 
                    Here you can:
                    <ul>
                        <li> Add new bundles </li>
                        <li> View/Edit existing bundles </li>
			            <li> Download bundle templates </li>
                    </ul>
                </p>                        
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <img class="img-fluid" src="{% static 'images/team2.png' %}" >
    </div>
</div>

<hr/>

<!-- Bundle List Header -->
<div class="row pt-2">
    <div class="col-md-12">
        <h3 class="card-header elegant-color white-text text-center z-depth-2"> Bundles </h3>
    </div>
</div>

<hr/>

<!-- Add Bundle Button -->
<div class="row pt-2">
    <div class="col-sm-6 col-md-3">
        <a href="{% url 'build:build' %}">
            <div class="card">
                <img class="img-fluid" src="{% static 'images/add.png' %}" alt="An image representing building a bundle.">
                <div class="card-body">
                    <h4 class="card-title"> Add Bundle </h4>
                </div>
            </div>
        </a>
</div>

<!-- Bundle List -->
{% if bundles %}
    {% for bundle in bundles %}
        <div class="col-sm-6 col-md-3">
            <a href="{{ bundle.absolute_url }}">
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/bundle.jpg' %}" alt="Bundle Image">
                    <div class="card-body">
                        <h4 class="card-title"> {{ bundle }} </h4>
                        <p class="card-text"> {{ bundle.lid }} </p>                        
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

<!-- No Bundles Button-->
{% else %}
        <div class="col-sm-6  col-md-3">
            <div class="card">
                <img class="img-fluid" src="{% static 'images/null.png' %}" alt="An image representing no bundles.">
                <div class="card-body">
                    <h4 class="card-title"> No Bundles </h4>
                </div>
            </div>
        </div>
{% endif %}

<!-- DO NOT REMOVE, IDK WHY THIS FIXES THE FORMATTING BUT IT DOES - deric -->
</div>

<hr/>

<!-- Settings Header -->
<div class="row pt-2">
    <div class="col-md-12">
        <h3 class="card-header elegant-color white-text text-center z-depth-2"> {{ user.first_name }}'s Settings </h3>
    </div>
</div>

<!-- Change Settings Button -->
<div class="row pt-2">
    <div class="col-md-12">
        <div class="col-sm-6 col-md-3">
            <a href="{% url 'friends:settings' user.pk %}">
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/211751_gear_icon.png' %}" alt="An image representing building a bundle.">
                    <div class="card-body">
                        <h4 class="card-title"> Change Settings </h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}