{% extends 'base-derk.html' %}
{% load static %}

{% block title_block %}
{{ userprofile }}
{% endblock %}

{% block main_header_block %}
<br>
{{ user.first_name }} {{ user.last_name}}
{% endblock %}

{% block body_block %}
<div class="container-fluid justify-content-center align-items-center">
    <!-- Welcome Card -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body ms-1">
                    <h4 class="card-title">Welcome to your Bundle Hub</h4>
                    <p class="card-text">
                        Your bundle hub is where you can do the following:
                        <ul>
                            <li>Add new bundles</li>
                            <li>View/Edit existing bundles</li>
                            <li>Download bundle templates</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-4 mx-5 px-5">
        <a href="{% url 'build:build' %}" class="btn btn-light text-light"> Add Bundle <i class="fa fa-plus ms-2"></i></a>
    </div>

    <!-- Bundle List Card -->
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <!-- Add Bundle -->
                <div class="card-header bg-dark text-light h2 d-flex justify-content-between align-items-center">
                    <h1>Bundles</h1>
                </div>

                <!-- Bundle List -->
                <div class="row">
                    <div class="carousel" id="bundle-carousel">
                        <div class="carousel-inner" role="listbox">
                            {% if bundles %}
                                {% for bundle in bundles %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <a href="{{ bundle.absolute_url }}">
                                            <div class="card bundle-card">
                                                <img class="img-fluid" src="{% static 'images/bundle.jpg' %}" alt="Bundle Image">
                                                <div class="card-body">
                                                    <h4 class="card-title"> {{ bundle }} </h4>
                                                    <p class="card-text"> {{ bundle.lid }} </p>                        
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="carousel-item active">
                                    <div class="card bundle-card">
                                        <img class="img-fluid" src="{% static 'images/bundle.jpg' %}" alt="Null">
                                        <div class="card-body">
                                            <h4 class="card-title"> No Bundles </h4>                      
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#bundle-carousel" data-bs-slide="prev">
                            <i class="fa fa-chevron-left fa-3x text-dark"></i>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#bundle-carousel" data-bs-slide="next">
                            <i class="fa fa-chevron-right fa-3x text-dark"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}