{% extends 'main/base-k.html' %}
{% load static %}




{% block title_block %}
About
{% endblock %}


{% block main_header_block %}
Educational Labeling System @Atmospheres
{% endblock %}

{% block about_header_block %}
<div id="thatnewnew">
    <div id="secretmessage">
    
    </div>
</div>
{% endblock %}




{% block body_block %}

<!--Section: Blog v.1-->
<section class="section pb-3 text-center text-lg-left">


    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 ml-auto col-xl-4 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-1-half">
                <img src="{% static 'images/thumbnail_ELSA_Logo-black.png' %}" class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 mr-auto col-xl-6">
            <!--Excerpt-->
            <a href="" class="green-text"><h6 class="font-bold pb-1"><i class="fa fa-snowflake-o"></i> ELSA</h6></a>
            <h4 class="mb-4"><strong>Introduction.</strong></h4>
            <p>The Educational Labeling System for Atmospheres (ELSA) is designed as a tool to learn aspects of the PDS4 archiving standard by creating compliant PDS4 label templates. Many data providers have little or no experience creating data labels (metadata) for the Planetary Data Systems (PDS). The goal of ELSA is to provide an online environment where data providers can learn about PDS4, build PDS4 bundles, submit completed bundles to ATM, and eventually manage the reviews/lien resolutions.
</p>
            
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-5 pb-3">


    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 ml-auto col-xl-4 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-1-half">
                <img src="{% static 'images/PDS_Planets.png' %}" alt="Thrid image in the blog listing." class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 mr-auto col-xl-6">
            <!--Excerpt-->
            <a href="" class="indigo-text"><h6 class="font-bold pb-1"><i class="fa fa-suitcase"></i> PDS4 Standard</h6></a>
           <h4 class="mb-4"><strong>Introduction to PDS4.</strong></h4>
            <p>PDS uses 'labels' describe the associated files by organization of common metadata. Metadata are pieces of information necessary to understand associated files and can include observational parameters, associated other projects, documentation, target information, etc. Currently PDS4 uses eXtensible Markup Language (XML) to manage the metadata in the labels. XML is a widely available language for metadata management that is accessible in a variety of publicly available tools. PDS4 is managed through a curated Information Model and is regularly updated. If you are interested in more information about the PDS4 archiving standard click Read More below.
</p>
            <a class="btn btn-indigo mb-3" href="https://pds.nasa.gov/datastandards/documents/sr/current/StdRef_1.15.0.pdf
">Read more</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-5 pb-3"/>
    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 ml-auto col-xl-4 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-1-half">
                <img src="{% static 'images/top-down.png' %}" alt="Arrow pointing from a top going down." class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 mr-auto col-xl-6">
            <!--Excerpt-->
            <a href="" class="green-text"><h6 class="font-bold pb-1"><i class="fa fa-snowflake-o"></i> ELSA</h6></a>
           <h4 class="mb-4"><strong>We like the Top-Down.</strong></h4>
            <p>At Atmospheres, we chose a top-down approach because it gives data providers the big picture of what a Bundle is at the very beginning of their PDS4 journey.  A top-down approach allows Logical Identifiers (LIDs) to be created in the natural way (<a href="https://pds.nasa.gov/datastandards/documents/sr/current/StdRef_1.15.0.pdf">Data Provider's Handbook 1.15.0, Section 6D</a>).  The PDS4 standard's immense power to archive and organize large data sets revolve around LIDs.</p>
            <p>When a user begins creating a Bundle, they are asked for the Bundle's name and which Collections their Bundle has.  ELSA prevents Bundles of the same name to be created to ensure that Bundles created within ELSA are unique.  This provides for an area of improvement within ELSA in which one day we may expand to ensure that the Bundle in creation is unique across all registered products.  Until then, data providers should consult their Node to ensure the name is allowed.  Once the Bundle name is unique, then regardless of all else that follows, the entire LID is unique.</p>
          
            <a class="btn btn-indigo mb-3">Read more</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 ml-auto col-xl-4 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-1-half">
                <img src="{% static 'images/MercEm.jpg' %}" alt="Thrid image in the blog listing." class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 mr-auto col-xl-6">
            <!--Excerpt-->
            <a href="" class="green-text"><h6 class="font-bold pb-1"><i class="fa fa-snowflake-o"></i> ELSA</h6></a>
           <h4 class="mb-4"><strong>ELSA: For Software Developers</strong></h4>
            <p>The ELSA Build app is written in Python using the Django framework.  There are some common additional libraries used within the Build app.</p>
          
            <a class="btn btn-indigo mb-3" href="https://atmos.nmsu.edu/elsa/contact/
" >Contact Us</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->


</section>
<!--Section: Blog v.1-->
            

{% endblock %}


{% block footie_block %}    
{% endblock %}

