{% extends 'base-derk.html' %}
{% load static %}

{% block title_block %}
In Development
{% endblock %}

{% block body_block %}

<style>
    .spacer {
        height: 60px;
    }
    
    /*Container holds the "in development" message and notification*/
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .message {
        padding: 1.5rem;
    }

    .notification {
        margin: 2rem 0;
        padding: 1rem;
        border: 1px dashed #ddd;
        border-radius: 5px;
        background-color: #eef;
    }

    .image-container {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .image-container img {
        max-width: 22%;
        height: auto;
    }
</style>

<!--Spacer for vertical space from the header-->
<div class="spacer"></div>

<div class="image-container">
    <img src="{% static 'images/idea.jpg' %}" alt="Feature is in development"/>
</div>

<div class="container">
    <div class="message">
        <h1>Sorry, the feature you are trying to access is in development.</h1>
        <br>
        <h5 style="font-weight: normal;">Please try again at a later point in time!</h5>
    </div>

    <div class="notification">
        <p>To get back to your prior location, <button onclick="history.back()" style="border-radius: 5px; padding: .02rem .2rem">click here</button> or press the back button on your browser.</p>
        <hr style="border: 1.1px dashed #ccc; margin: 1px 0">
        <p>If you would like to be notified when this feature is implemented or if you would like to implement this feature yourself, feel free to contact ELSA at <a href="mailto:elsa@atmos.nmsu.edu">elsa@atmos.nmsu.edu</a>.</p>
    </div>
</div>

{% endblock %}