{% extends 'main/base-k.html' %}
{% load static %}
{% block title_block %}
Contact Atmospheres Node
{% endblock %}
{% block main_header_block %}

{% endblock %}
{% block body_block %}


<style>
.card{
   box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
   max-width:300px;
   margin: auto;
   text-align: center;
   font-family: arial;
}

.title{
    color:grey;
    font-size:18px;
}

button{
    border:none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.round-button {
   	      display:inline-block;
	      height:25px;
	      width:25px;
    	      color: white;
   	      text-align: center;
   	      margin: 4px 2px;
    	      background-color: #008080;
   	      font-size:16px;
   	      font-weight:bold;
	      border-color: #000000;
	      }
	      
	      .round-button{border-radius: 50%;}
</style>




    <!--Section heading-->
    <h2 class="section-heading h1 pt-4" style=" text-align:center" >Planetary Atmospheres Node</h2>
    <p class="section-description">Below are the top three contacts listed for the PDS Atmospheres Node.  If you would like to send a message to the entire team, feel free to use the contact form below or contact them individually using the following platforms availiable.</p>
  <hr> 
   <div class="row">
      <div class="col-md-12">
         <p class="card-header elegant-color white-text text-center z-depth-2">Profiles</p>
         <br/>
      </div>
   </div>
<hr>
 <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-4">
	
	    <div class="card">
              <img class="img-fluid" src="{% static 'images/Nancy_elsa.png' %}" style="height:210px">
            	<h2>Nancy Chanover</h2>
                <p class="title">ATM Node PI</p> 
	      <p> PDS ATM Node Lead
	       </P>
		<button  style= "margin: 24px 0;">
		    <a href="http://astro.nmsu.edu/facultydirectory/nancy_chanover.html" data-toggle="tiptool" data-placement="right" title="NMSU_Profile"><i class="fa fa-info-circle"></i></a>
		</button >
		
	    </div>
       	  </div>
       
     
        <!--Grid column-->
<hr>
<hr>
        <!--Grid column-->
        <div class="col-md-4">
	<div class="column">
           <div class="card">
               <img class="img-fluid" src="{% static 'images/Lynn_elsa.jpg' %}" style="height:210px">
            	<h2> Lynn Neakrase</h2>
                <p class="title">Senior Research Scientist</p> 
		<p>Lead Designer for ELSA, Derived Data Archive Liaison</P>
		<button  style= "margin: 24px 0;">
		    <a href="http://astronomy.nmsu.edu/lneakras/Lynn_Neakrase/About_Me.html" data-toggle="tiptool" data-placement="right" title="NMSU_Profile"><i class="fa fa-info-circle"></i></a>
		</button >
		
	</div>
        </div>
	</div>
        <!--Grid column-->
<hr>
<hr>
        <!--Grid column-->
        <div class="col-md-4">
	<div class="column">
           <div class="card">
               <img class="img-fluid" src="{% static 'images/Lyle_elsa.jpg' %}" style="height:210px" >
            	<h2> Lyle Huber</h2>
                <p class="title"> ATM Data Manager </p> 
		<p>Archive Data Manager, Mission Data Liaison</P>
		<button style= "margin: 24px 0;">
		    <a href="http://astro.nmsu.edu/facultydirectory/lyle-huber.html" data-toggle="tiptool" data-placement="right" title="NMSU_Profile"><i class="fa fa-info-circle"></i></a>
		</button>
		
        </div>
        <!--Grid column-->
	</div>
    </div>
</div>
<hr>
<hr>
<hr>
    <!--Grid row-->
<div class="row">
      <button data-toggle="collapse" href="#contact" role="button">CONTACT</button>
</div>
<div class="row">
	<div class="col-md-12 rgba-indigo">
	</br>
	<div class="rgba-indigo">
          <h3 class="h3-responsive">Send a message to ELSA <i class="fa fa-snowflake-o"></i></h3>
              <form role="form" action="" method="post">
                        {% csrf_token %}
                        {{ contact_form.as_p }}
                        <button type="submit" class="btn btn-default">Submit</button>
				<style>
	     			 .round-button {
   	  		         display:inline-block;
	      			 height:25px;
	      		 	 width:25px;
    	     			 color: white;
   	      			 text-align: center;
   	     			 margin: 4px 2px;
    	    		 	 background-color: #008080;
   	      			 font-size:16px;
   	      			 font-weight:bold;
	     			 border-color: #000000;
	      			 }
	      
	      			.round-button{border-radius: 50%;}
	  			</style>
				 <button class="round-button" data-toggle="tiptool" data-placement="right" title="After submitting the form, please wait 48 hours for us to get back to you.">?</button>
                    </form>
            </div>
	</div>
    </div>
{% endblock %}
