{% extends 'base-derk.html' %}
{% load static %}
{% block title_block %}
Contact Atmospheres Node
{% endblock %}
{% block main_header_block %}

{% endblock %}
{% block body_block %}

<style>

.card {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    max-width: 300px;
    margin: auto auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    background: #fff;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.6em;
    color: #333;
    font-weight: 600;
}

.card p.title {
    color: #888;
    font-size: 1.1em;
    margin: 5px 0;
}

.card p {
    color: #555;
    font-size: 1em;
    line-height: 1.4;
}

.card button a {
    color: white;
    text-decoration: none;
}

.section-heading {
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15x;
    color: #333;
    text-align: center;
}

.section-description {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
}

.rgba-indigo {
    background-color: rgba(63, 81, 181, 0.1);
    padding: 20px;
    border-radius: 10px;
}

h3.h3-responsive {
    font-size: 1.6em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }
    .section-heading {
        font-size: 1.8em;
    }
    .section-description {
        font-size: 1em;
    }
}

.btn {
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    color: white;
    padding: 2x 2px;
    background-color: #5F9EA0;
    border-radius: 5px;
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.btn i {
    font-size: 20px;
}

.round-button {
    display:inline-block;
    height:25px;
    width:25px;
    color: white;
    text-align: center;
    align-items: center; 
    margin: 4px 2px;
    background-color: #2E8B57;
    font-size:12px;
    border-color: #FFFAFA;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid #2E8B57;  
}

.fixed-contact-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5F9EA0;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.fixed-contact-button:hover {
    background-color: #0056b3;
    transform: translateY(-4px);
}

/* Modal Styling */
.modal-content {
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

</style>


<div class="container">
    <h2 class="section-heading">Planetary Atmospheres Node</h2>
    <p class="section-description">Below are the top three contacts listed for the PDS Atmospheres Node. If you would like to send a message to the entire team, feel free to click the message button in the bottom-right corner or contact them individually using the following platforms available.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/Nancy_elsa.png' %}" alt="Nancy Chanover">
                <div class="card-content">
                    <h2>Nancy Chanover</h2>
                    <p class="title">ATM Node PI</p>
                    <p>PDS ATM Node Lead</p>
                    <a href="https://astro.nmsu.edu/directory/nancy-chanover.html" title="NMSU_Profile" class="btn">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/Lynn_elsa.jpg' %}" alt="Lynn Neakrase">
                <div class="card-content">
                    <h2>Lynn Neakrase</h2>
                    <p class="title">Senior Research Scientist</p>
                    <p>Lead Designer for ELSA, Derived Data Archive Liaison</p>
                    <a href="http://astronomy.nmsu.edu/lneakras/Lynn_Neakrase/About_Me.html" title="NMSU_Profile" class="btn">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/Lyle_elsa.jpg' %}" alt="Lyle Huber">
                <div class="card-content">
                    <h2>Lyle Huber</h2>
                    <p class="title">ATM Data Manager</p>
                    <p>Archive Data Manager, Mission Data Liaison</p>
                    <a href="http://astro.nmsu.edu/facultydirectory/lyle-huber.html" title="NMSU_Profile" class="btn">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    
<br>


    <!-- Modal Button -->
<div class="fixed-contact-button" data-bs-toggle="modal" data-bs-target="#contactModal">
    <i class="fa fa-envelope"></i>
</div>

<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Send a Message to ELSA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <form role="form" action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        {{ contact_form.as_p }}
                        <button type="submit" class="btn btn-default">Send message</button>
                    </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


