{% extends 'base-derk.html' %}
{% load static %}

{% block body_block %}

{% if email_sent %}
<br><br><br>
<div class="container py-5 text-center">
    <div class="alert alert-success" role="alert">
        <h3 class="alert-heading">Thank you for your submission!</h3>
    </div>
    <p class="mt-4">Your review comments have been successfully sent to ELSA.</p>
    <p>If you have any questions or further comments about your submission, <a href="{% url 'main:contact' %}" class="link-primary">please contact ELSA</a>.</p>
</div>
{% else %}

<br><br><br>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-11">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h2 class="text-center mb-5">Review Comments</h2>
                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        <div class="mb-3">
                            {{ review_form.user_name.label_tag }}
                            {{ review_form.user_name }}
                        </div>
                        <div class="mb-3">
                            {{ review_form.user_email.label_tag }}
                            {{ review_form.user_email }}
                        </div>
                        <div class="mb-3">
                            {{ review_form.derived_data.label_tag }}
                            {{ review_form.derived_data }}
                        </div>
                        <div class="mb-3">
                            {{ review_form.archive_standard.label_tag }}
                            {% for radio in review_form.archive_standard %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    {{ radio.choice_label }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ review_form.question1.label_tag }}
                            {{ review_form.question1 }}
                        </div>
                        <div class="mb-3">
                            {{ review_form.question2.label_tag }}
                            {{ review_form.question2 }}
                        </div>
                        <div class="mb-3">
                            {{ review_form.question3.label_tag }}
                            {{ review_form.question3 }}
                        </div>
                        <div class="mb-2">
                            {{ review_form.question4.label_tag }}
                            {{ review_form.question4 }}
                        </div>

                        <div class="mb-2">
                            {{ review_form.captcha.label_tag }}
                            {{ review_form.captcha }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mb-0">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
