<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap Default Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script src="https://use.fontawesome.com/dc496c8662.js"></script>

    <title>ELSA: Educational Labeling System @Atmospheres</title>

    <!-- Component Stylings -->
    <style>
        /* Buttons */
        .btn-light {
            background-color: rgb(43, 187, 173); 
            box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.5), 0.125em 0.125em 0.25em rgba(0,0,0,0.25);
            border-color: rgb(43, 187, 173);
        }

        .btn-light:hover {
            background-color: #26A498;
            border-color: #26A498;
        }

        /* Cards */
        .card {
            box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.5), 0.125em 0.125em 0.25em rgba(0,0,0,0.25);
            border-radius: 15px;
            overflow: hidden;
        }

        .card-header {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        /* Forms */
        .form-outline {
            position: relative;
        }

        /* Specifically the info tooltip tag */
        .form-outline span {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
        }
    </style>
</head>

<body>
    <!-- Header -->
    {% if user.is_authenticated %}
    <header class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <!-- ELSA Logo -->
            <a class="navbar-brand" href="{% url 'main:index' %}">
                <img src="{% static 'images/ELSA-Logo-White.png' %}" style="text-shadow: none; font-size: 25px; color: rgb(43, 187, 173); height: 50px; width: 95px; line-height: 75px; text-align: center;"></img> 
            </a>

            <!-- PDS Logo -->
            <a href="https://pds-atmospheres.nmsu.edu/">
                <img src="{% static 'images/PDS_Planets_inv_clrbk_no_words.png' %}" style="text-shadow: none; font-size: 25px; color: rgb(43, 187, 173); height: 50px; width: 95px; line-height: 75px; text-align: center; "></i> 
            </a>

            <!-- For Smaller Screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbar-links">
                <ul class="navbar-nav mr-auto">
                    <!-- Header Links -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:about' %}">
                            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            About
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:services' %}">
                            <i class="fa fa-briefcase"></i> 
                            Bundle Apps 
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:construction' %}">
                            <i class="fa fa-newspaper-o"></i>
                            Blog
                        </a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:contact'%}">
                            <i class="fa fa-envelope"></i>
                            Contact
                        </a>
                    </li>
                </ul>

                    <ul class="navbar-nav ms-auto me-5">
                    <li class="nav-item dropdown">
                        <button class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i> 
                            {{ user }} 
                        </button>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ user.userprofile.get_absolute_url }}">{{ user.first_name }}'s Profile</a>
                            <a class="dropdown-item" href="{% url 'friends:settings' user.pk %}">Profile Settings</a>
                            <a class="dropdown-item" href="{% url 'friends:logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endif %}

    <!-- Main Content -->
    <main class="row">
        <div class="col">{% block body_block %}{% endblock %}</div>
    </main>

    <!-- Footer -->
    {% if user.is_authenticated %}
    <footer class="row bg-dark text-light">
        <ul class="nav justify-content-center border-bottom border-secondary py-1 mb-1">
            <li class="nav-item">
                <a href="{% url 'main:index' %}" class="nav-link px-2 text-light" style="text-decoration: none;">
                    <i class="fa fa-snowflake-o" style="color: rgb(43, 187, 173);"></i>
                    Educational Labeling System @Atmospheres
                </a>
            </li>
            <li class="nav-item">
                <a href="http://atmos.nmsu.edu/" class="nav-link px-2 text-light" style="text-decoration: none;">
                    <i class="fa fa-cloud" style="color: rgb(43, 187, 173);"></i>
                    Planetary Atmospheres Node 
                </a>   
            </li>
        </ul>
        <p class="footer-copyright text-center pt-2">© 2024 New Mexico State University <a href="{% url 'main:index' %}"> https://atmos.nmsu.edu/elsa/ </a></p>
    </footer>
    {% endif %}
</body>
</html>